@charset "UTF-8";

/*
 *
 * CSS CONTENTS:
 *
 * 01. Web Font Import
 * 01. Type Selector Reset
 * 02. HTML5 Reset
 * 
 *
 */

/* Web Font Load */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&subset=korean');

/* Type Selector Reset */
html,body {width:100%; height:100%; margin:0; padding:0; font-size:100%;}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, figure {margin:0; padding:0;}
body {font-weight:400; font-family: 'Noto Sans KR', '돋움', dotum, sans-serif; font-size:1em; line-height:1.25;}
button, input[type=submit], input[type=reset], input[type=button] {overflow:visible; cursor:pointer;}
input[type=text], input[type=email], input[type=password], input[type=submit], textarea {-webkit-aCppearance:none;}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input, select, textarea, button {font-family: 'Noto Sans KR', '돋움', dotum, sans-serif; font-size:100%; border-radius:0;}
button {overflow:visible; margin:0; padding:0; border:0; background:transparent;}
ul li {list-style:none;}
img, fieldset {border:none; vertical-align:top;}
hr {display:none;}
em, address, cite {font-style:normal;}
a{text-decoration: none;}
a, a:link {text-decoration:none; color:inherit;}
a:visited {text-decoration:none;}
a:hover, a:focus {text-decoration:underline;}
a:active {text-decoration:none;}

/* HTML5 Reset */
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {display:block;}


